---
layout: wrapper
page_script: glossary.js
layout_body_class:
- glossary
---
<div id="main">
  <div id="page-header">
    <div class="container">
      <h1>{{{page_data.title}}}</h1>
    </div><!--/.container-->
  </div><!--/#page-header-->
  <div id="page-header-gradient"></div>
  <div id="page-content">
    <div class="container">
      <div class="glossary-container">
        {{#each page_data.glossary}}
          <div class="term-container">
            <h4>{{this.TR_term}}</h4>
            <p>{{this.TR_summary}} <a href="{{../linkPath}}{{this.link}}">  Read more ></a></p>
          </div>
        {{/each}}
      </div>
    </div><!--/.container-->
  </div><!--/#content-->
</div><!--/#main-->
